.sideBar {
  position: fixed;
  z-index: 1;
  background-image: url("../assets/images/Reading\ glasses-cuate.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f3f5fb;
  width: 250px;
  height: 100vh;
  padding: 20px;
  flex-shrink: 0;
}

.logo {
  width: 50%;
}

.stepper {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.step {
  font-size: 20px;
  color: #436fb3;
  display: flex;
  align-items: center;
  gap: 10px;
}

.step span i {
  color: #14fe14;
  font-size: 30px;
}

.stepIcon {
  border: 1px solid;
  padding: 0 8px;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .sideBar {
    width: 200px;
  }
  .step {
    font-size: 14px;
  }
  .step span i {
    color: #14fe14;
    font-size: 28px;
  }
  .stepIcon {
    padding: 3px 8px;
  }
}

@media only screen and (max-width: 548px) {
  .sideBar {
    position: relative;
    z-index: 0;
    width: 100%;
    height: fit-content;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo {
    width: 20%;
  }
  .stepper {
    margin-top: 10px;
    flex-direction: row;
    border-top: 1px solid #e6dddd;
    align-items: flex-start;
    justify-content: center;
    padding-top: 15px;
  }

  .step {
    flex-direction: column;
    text-align: center;
  }

  .step span i {
    color: #14fe14;
    font-size: 24px;
  }

  .stepIcon {
    border: 1px solid;
    padding: 2px 8px;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 375px) {
  .teachrs {
    margin-left: 20px !important;
  }
}
