.Container {
  display: flex;
}

.main {
  color: #2253a5;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.teachrs {
  padding-top: 35px;
  margin-left: 85px;
  width: 100%;
  display: flex;
  gap: 40px;
  overflow: auto;
}

.searchBar {
  position: relative;
}

.searchBar label {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.searchBar input {
  border: none;
  background-color: #f3f5fb;
  padding: 10px;
  border-radius: 5px;
  width: 470px;
}

.searchBar input:focus-visible {
  outline: none;
}
